Rewrite the Stonewt class to overload all six relational operators for the class. Operators should be based on comparisons of the pounds component of the juxtaposed objects and return a bool value. Write a program that declares an array of six Stonewt elements and initializes the first three elements. The program should loop in the input values ​​initializing the remaining three elements of the array, and then print the indexes of elements: the smallest and largest, as well as the number of elements with a value greater than or equal to 11 gems.
